body {
  font-family: Arial, sans-serif;
  margin: 20px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
 padding: 0.2rem 0.5rem;
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}

#title,
#author {
  border: 3px solid black;
  margin-bottom: 1rem;
}
#addBtn {
  border: 2px solid black;
  font-weight: bold;
  margin-left: 8.5rem;
}
#bookList {
  border: 2px solid black;
}
.main {
  display: flex;
  justify-content: center;
  color: rgb(173, 136, 90);
}
button{
    font-weight: bold;
    border: 2px solid  black;
    box-shadow: 2px 4px 0px black;
}
.addbook{
  justify-items: center;
}
li:nth-child(odd) {
  background-color: #d0d0d0; 
}
.line {
  width: 5rem;
  border-top: 0.2rem solid black;
}
.block{
  justify-items: center;
}